body{
background-color: #EAEAA3;
}
img{
    margin: 2em auto;
    display: block;
    width: 20%;
   }
h1{
    text-align: center;
    margin: 1em;
    font-weight: bold;
    color: red;
}
#burgerInput{
    margin-top: 2em;
    text-align: center;
}
#form{
    margin-bottom: 0.3em;
}